@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#hola{
    color:white;
}

body {
    background-color: antiquewhite;
    font-family: 'Ubuntu', sans-serif;
}

#space1{
    padding: 2px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    height: 10vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    justify-content: flex-start;
}

nav ul li {
    display: flex;
    flex-wrap: wrap;
    padding: 0 1vw;
    float: left;
}

.services{
    display: flex;
    padding-top: 1.3vw;
}

#id{
    cursor:pointer;
    margin-left: 0.5vw;
}

.content{
    width: 90%;
    height: 40vw;
    font-family: "Alegreya", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#spaces {
    padding-left: 0rem; 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    font-weight: bold;
    border-radius: 10px;
}
.dropdown-content1{
    color: #111;
}
.dropdown:hover .dropdown-content {
    display: block;
}
  
.answers{
    margin-right: -0.7rem;
    margin-left: 4vw;
    margin-top: -10rem;
    top:50%;
    transform: translateY(-50%);
}

.brand img {
    width: 6vw;
    padding: 0 0.5vw;
    margin-left: -2vw;
}

a:hover {
    color: rgb(185, 107, 107);
}

a {
    color:aqua;
}

.brand {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.Booked {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: blueviolet;
    padding: 0.5vw;
    height: 2vw;
    width: 100%; 
    border-radius: 7px;
    font-size: 1rem; 
}

.brand1{
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.book {
    display: flex;
    flex-wrap: wrap;
    padding: 1vw;
    display: flex;
    margin-left: auto;
}

.brands{
    padding: 1vw;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 1vw;
    font-size: 3vw;
    margin-left: 2vw;
  } 
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 4vw;
    margin-top: auto;
}
footer p{
    padding: 1.4vw;
}

.importance {
    padding: 3vw;
    filter: drop-shadow(0 0 0.75rem rgb(92, 19, 19));
}

.containering{
    width: 40vw;
    height: 15vh;
    margin-top: 2vw;
    z-index: 0.5;
    background-color: white;
}

.dmce{
    margin-left: auto;
    margin-right: -1vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    z-index: 0;
}



.text-gray-600 {
    color: #718096;
}

.body-font {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.relative {
    position: relative;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.px-5 {
    padding-right: 1.25rem !important;
    padding-left: 1.25rem !important;
}

.py-24 {
    padding-bottom: 6rem !important;
}

.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

.flex {
    display: flex !important;
}

.attend{
    margin-top: -2vh;
}

.sm\:flex-nowrap {
    flex-wrap: nowrap !important;
}

.flex-wrap {
    flex-wrap: wrap !important;
}

.lg\:w-2\/3 {
    width: 66.667% !important;
}

.md\:w-1\/2 {
    width: 60% !important;
    height: 70vh;
}

.bg-gray-300 {
    background-color: black !important;
}

.rounded-lg {
    border-radius: 0.5rem !important;
}

.overflow-hidden {
    overflow: hidden !important;
}

.sm\:mr-10 {
    margin-right: 2.5rem !important;
}

.p-10 {
    padding: 2.5rem !important;
}

.items-end {
    align-items: flex-end !important;
}

.justify-start {
    justify-content: flex-start !important;
}

.absolute {
    position: absolute !important;
}

.inset-0 {
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
}

.h-32 {
    height: 8rem !important;
}

.py-6 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

.shadow-md {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
}

.lg\:w-1\/2 {
    width: 50% !important;
}

.px-6 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.font-semibold {
    font-weight: 600 !important;
}

.text-gray-900 {
    color: #2d3748 !important;
}

.tracking-widest {
    letter-spacing: 0.1em !important;
}

.text-xs {
    font-size: 0.75rem !important;
}

.title-font {
    font-size: 1.25rem !important;
}

.leading-relaxed {
    line-height: 1.5 !important;
}

.mb-1 {
    margin-bottom: 0.25rem !important;
}

.font-medium {
    font-weight: 500 !important;
}

.mb-5 {
    margin-bottom: 1.25rem !important;
}

.text-gray-600 {
    color: black !important;
}

.mb-4 {
    margin-bottom: 1rem !important;
}

.text-sm {
    font-size: 0.875rem !important;
}

.text-gray-500 {
    color: black !important;
}

.mt-3 {
    margin-top: 0.75rem !important;
}

.focus\:border-indigo-500:focus {
    border-color: #667eea !important;
    box-shadow: 0 0 0 2px rgba(102, 126, 234, 0.5) !important;
    outline: 0 !important;
}

.hover\:bg-indigo-600:hover {
    background-color: #5a67d8 !important;
}

.border-0 {
    border-width: 0 !important;
}

.py-2 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.px-6 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.hover\:bg-indigo-600:hover {
    background-color: #5a67d8 !important;
}

.rounded {
    border-radius: 0.25rem !important;
}

.text-lg {
    font-size: 1.125rem !important;
}

.bg-indigo-500 {
    background-color: #667eea !important;
}

.text-white {
    color: #fff !important;
}

.focus\:outline-none:focus {
    outline: 0 !important;
}

.hover\:bg-indigo-600:hover {
    background-color: #5a67d8 !important;
}

.rounded {
    border-radius: 0.25rem !important;
}

.text-lg {
    font-size: 1.125rem !important;
}

.text-xs {
    font-size: 0.75rem !important;
}
/* Responsive Adjustments */
@media only screen and (max-width: 768px) {
    nav ul li {
        padding: 0 0.5vw;
    }

    .brand img {
        width: 10vw; 
        padding: 0 1vw;
    }
    .Booked {
        padding: 1vw;
        width: 10vw;
        height: 9vw;
        font-size: 0.8rem;
    }

    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }


    .brand{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        font-weight: bolder;
        font-size: 1rem;
        font-family: "Red Hat Display", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }    

    .feedback{
        width:33%;

    }

    .brand1{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        font-weight: bolder;
        font-size: 0.7rem;
        font-family: "Red Hat Display", sans-serif;
        font-optical-sizing: auto;
        font-weight: 900;
        font-style: normal;
    }    

}


@media (100px <= width <= 768px)
{
    .brand{
        display: none;
        font-family: "Red Hat Display", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }
}

.content{
    overflow: auto;
    font-family: "Alegreya", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}